@media (max-width: 1900px) {
    .slick-prev {
        left: -100px;
    }

    .slick-next {
        right: -100px;
    }
}

@media (max-width: 1660px) {
    .slick-prev {
        left: 20px;
    }

    .slick-next {
        right: 20px;
    }
}

@media (max-width: 1440px) {
    .header__menu {
        margin-left: 40px;
    }

    .header__contacts {
        margin-left: 20px;
    }
}

@media (max-width: 1390px) {
    .header__inner {
        justify-content: space-between;
    }

    .header__contacts {
        display: none;
    }

    .slick-prev {
        left: 20px;
        top: 80%;
    }

    .slick-next {
        right: 20px;
        top: 80%;
    }
}

@media (max-width: 1220px) {
    .courses-request__row {
        flex-wrap: wrap;
    }

    .courses-request__item {
        flex: 0 1 100%;
        min-height: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .direction-item__title {
        left: 30px;
        top: 15px;
    }

    .direction-item__img {
        img {
            min-height: 350px;
        }
    }

    .feedback-slider__box {
        padding: 20px 0 0 20px;
    }
}

@media (max-width: 1080px) {
    .header__menu {
        margin-left: 10px;
    }

    .login-link {
        margin: 0;
    }

    .header__logo a {
        min-width: 150px;
    }

    .courses {
        min-height: 600px;
    }

    .coursess__title {
        font-size: 32px;
        max-width: 400px;
    }

    .coursess__btn-link {
        background-color: $green;
        color: #fff;
    }

    .direction-item__title {
        font-size: 20px;
    }

    .direction-item__img {
        img {
            min-height: 300px;
        }
    }
}

@media (max-width: 1023px) {

    .header__logo {
        display: none;
    }

    .courses-advantages__row {
        flex-wrap: wrap;
    }

    .courses-advantages__item {
        flex: 0 1 100%;

        &.courses-advantages__item {
            margin-top: 30px;
        }
    }

    .title {
        margin: 30px 0 30px;
        font-size: 24px;
    }

    .feedback-slider__text {
        font-size: 18px;
        margin: 0 15px 15px 0;
    }

    .slick-arrow {
        width: 50px;
        height: 50px;
    }
}

@media (max-width: 870px) {
    .header {
        position: relative;
    }

    .header__inner {
        min-height: 100px;
    }

    .header__menu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        margin: 0;
        background-color: $green;

    }

    .header__menu.show {
        display: block;
        border-top: 1px solid #fff;
        z-index: 2;
    }

    .burger__menu {
        display: block;
        margin-left: 20px;
    }

    .menu__list {
        li {
            display: block;

            a {
                padding: 15px;
            }

            &+li {
                margin: 0;
            }
        }

    }

    .arrow {
        width: 40px;
    }

    .header__logo {
        display: none;
    }

    .courses {
        min-height: 500px;
    }

    .coursess__title {
        margin-bottom: 30px;
    }

    .coursess__inner {
        padding-top: 50px;
    }

    .coursess__btn-box {
        display: block;
    }

    .coursess__btn {
        &:first-child {
            margin-right: 0;
        }

        padding-bottom: 20px;
    }

    .feedback-slider__text {
        font-size: 14px;
    }

    .feedback-slider__author {
        font-size: 16px;
    }

    .feedback-slider__prof {
        font-size: 16px;
    }
}

@media (max-width: 768px) {

    .courses {
        min-height: 300px;
    }

    .courses-request__item {
        min-height: 340px;
    }

    .request-item__text {
        margin-bottom: 30px;
    }

    .direction-item__title {
        font-size: 18px;
    }

    .direction-item__img {
        img {
            min-height: 250px;
        }
    }
}

@media (max-width: 640px) {
    .courses-request__item:first-child {
        display: none;
    }

    .courses-request__row {
        min-height: 340px;
    }

    .direction-item__title {
        font-size: 14px;
        top: 5px;
        left: 15px;
    }

    .direction-item__img {
        img {
            min-height: 200px;
        }
    }

    .feedback-slider__item {
        display: block !important;
    }

    .feedback-slider__img {
        max-width: 100%;
        width: 100%;


    }
}

@media (max-width: 510px) {

    .coursess__inner {
        padding: 15px 0;
    }

    .coursess__btn {
        margin-right: 15px;
    }

    .courses-direction__row {
        flex-wrap: wrap;
    }

    .courses-direction__item {
        flex: 0 1 100%;

        &.courses-direction__item {
            margin-top: 10px;
        }
    }

    .direction-item__img img {
        max-height: 200px;
        max-width: 100%;
        width: 100%;
    }

    .direction-item__title {
        font-size: 20px;
    }
}

@media (max-width: 460px) {
    .request-item__text {
        font-size: 24px;
    }

    .coursess__title {
        font-size: 24px;
    }

    .coursess__text {
        font-size: 18px;
    }

    .title {
        font-size: 22px;
    }
}