$green: #005455;

@mixin f500 {
    font-family: 'Gilroy Medium';
    font-weight: 500;
}

@mixin f600 {
    font-family: 'Gilroy Medium';
    font-weight: 600;
}

@mixin f700 {
    font-family: 'Gilroy Medium';
    font-weight: 700;
}